html, body, #root, main {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  padding: 1em;
}

.vh-100 {
  height: 100vh;
}

.bg-lightgray {
  background-color: rgb(243, 243, 243);
}

.form-control:focus, .form-select:focus {
  border-color: #F50C7D !important;
  box-shadow: 0 0 0 0.2rem rgba(245, 12, 125, 0.25) !important;
} 

.form-check-input:focus {
  border-color: #F50C7D !important;
  box-shadow: 0 0 0 0.2rem rgba(245, 12, 125, 0.25) !important;
}

.form-check-input:checked {
  border-color: #F50C7D !important;
  background-color: #F50C7D !important;
}

.required-field {
  border-color: #f0162c !important;
  box-shadow: 0 0 0 0.2rem #f0162c77 !important;
}

.custom-shadow {
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

#login-container {
  min-width: 28rem;
}

#login-background {
  background-color: #0F034E;
  overflow: hidden;
}

@media (min-width: 768px) {
  #login-background {
    background-color: rgb(243, 243, 243);
  }
}

#user-toggle {
  background-color: transparent;
  border: transparent;
  -webkit-box-shadow: none;
	box-shadow: none;
}

#logged-as {
  background-color: #1c0c6b;
}

.sb-sidenav-menu-heading {
  color: rgb(146, 146, 146) !important;
}

.nav-link, .sb-nav-link-icon, .sb-sidenav-dark {
  color: rgb(197, 197, 197) !important;
}

.nav-link:hover, .sb-nav-link-icon:hover {
  color: white !important;
}

#recover-container {
  width: 28rem;
}

.btn-outline-primary:hover {
  color: white !important;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.alert-fade-out {
  -webkit-animation-duration: 2s;animation-duration: 2s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.alert-fade-in {
  -webkit-animation-duration: 0.3s;animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.btn-outline-success:hover {
  color: white !important;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.h3-request{
  font-weight: bold; 
} 
.h3-span-request {
  font-size: 1.2rem;
}
.float-btn-request{
  width: 10rem;
  position: absolute;
  right: 2rem;
  top:60%;
}
.dates-request{
  /* style={{fontWeight: "bold", position: "absolute", bottom: "1.6rem"}} */
  font-weight: bold;
  position: absolute;
  bottom: 1.6rem;
}
@media (max-width: 760px) {
  .h3-request{
    font-weight: bold; 
    font-size: 19px;
  } 
  .h3-span-request {
    font-size: 13px;
  }
  .float-btn-request{
    width: 68px;
    position: absolute;
    right: 20px;
    top:60%;
  }
  .dates-request{
    /* style={{fontWeight: "bold", position: "absolute", bottom: "1.6rem"}} */
    font-size: 11px;
    font-weight: bold;
    position: absolute;
    bottom: 1.6rem;
  }
}

.text-bold{
  font-weight: bold;
}

#notfound{
  position: relative;
  height: 80vh;
  padding: 0;
  margin: 0;
}

#notfound .notfound{
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound{
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound404{
  position: relative;
  height: 240px;
}

.notfound .notfound404 h3 {
  font-family: 'Cabin', sans-serif;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0F034E;
  margin: 0px;
  letter-spacing: 3px;
  padding-left: 6px;
}

.notfound .notfound404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 252px;
  font-weight: 900;
  margin: 0px;
  margin-left: 0px;
  color: #f50c7d;
  text-transform: uppercase;
  letter-spacing: -40px;
  margin-left: -20px;
}

.notfound .notfound404 h1 > span {
  text-shadow: -8px 0px 0px #fff;
}

.notfound h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  color: #0F034E;
  margin-top: 0px;
  margin-bottom: 25px;
}


.comment-name-another{
  padding-left: 1rem;
  font-size: 1.1rem;
}

.comment-time-another{
  padding-right: 1rem;
  text-align: end;
}

.comment-my-name{
  padding-right: 1rem;
  font-size: 1.1rem;
  text-align: end;
}

.comment-my-time{
  padding-left: 1rem;
  text-align: start;
}

